@using Cataloguer.Models
@model List<Track>

@foreach (Track track in Model)
{
    <a class="panel panel-success" href="/Home/Track?trackName=@track.Name&artistName=@track.Artist.Name">
        <div class="panel-heading">
            <p class="text-center">@track.Name</p>
        </div>
        <div class="panel-body">
            <img class="img-rounded center-block" src="@track.GetPictureLink()" />
        </div>
        <div class="panel-footer">
            <span class="glyphicon glyphicon-headphones"></span>    @track.GetListeners()
        </div>
    </a>
}
