@using Cataloguer.Models
@model List<Track>

@foreach (Track track in Model)
{
    <tr>
        <td>@track.Rank</td>
        <td>@Html.ActionLink(track.Name, "Track", "Home",
           new { trackName = track.Name, artistName = track.Artist.Name }, new { })</td>
        <td>@track.GetListeners()</td>
    </tr>
}
