@using Cataloguer.Models
@model Artist
@{
    ViewBag.Title = Model.Name;
}
<div style="float: left; margin: 30px">
    <h1 class="text-center">@Html.ActionLink(Model.Name, "ArtistProfile", "Home",
        new { artistName = Model.Name }, new { })</h1>
    <img class="center-block" height="300px" src="@Model.PictureLink" />
</div>

<h4>@Model.FullBiography</h4>
