@using Cataloguer.Models
@model List<Artist>
@{
    ViewBag.Title = "Top artists";
}

<h1 class="text-center">Top artists from Last.fm</h1>
<div id="results" class="flex-container">
    @foreach (Artist artist in Model ?? new List<Artist>())
    {
        <div class="panel panel-default" style="flex-basis: 23%">
            <div class="panel-heading">
                <p class="text-center" style="white-space: nowrap">
                    @Html.ActionLink(artist.Name, "ArtistProfile", "Home",
            new { artistName = artist.Name }, new { })
                </p>
            </div>
            <div class="panel-body"><img class="center-block" src="@artist.PictureLink" /></div>
        </div>
    }
</div>
<img id="loading" style="display: none; height: 100px" class="center-block" src="~/Content/loading.gif" />
<script>
    $(this).on('scroll', scrolling);
    function scrolling() {
        if ($(this).scrollTop() >= ($('#results').height() - $(this).height() - 100)){
            $(this).unbind('scroll');
            loader();
        }
    }
    function loader() {
        $.ajax({
            url: '/Home/Artists',
            beforeSend: function () {
                $('#loading').css('display', 'block');
            },
            success: function (data) {
                $('#loading').css('display', 'none');
                $('#results').append(data);
                $(window).on('scroll', scrolling);
            }
        });
    }
</script>
