@using Cataloguer.Models
@model List<Artist>
@{
    ViewBag.Title = "Top artists";
}

<h1 class="text-center">Top artists from Last.fm</h1>
<div id="results" class="flex-container">
    @foreach (Artist artist in Model)
    {
        <a class="panel panel-success" href="/Home/ArtistProfile?name=@artist.Name">
            <div class="panel-heading">
                <p class="text-center">@artist.Name</p>
            </div>
            <div class="panel-body">
                <img class="img-rounded center-block" src="@artist.GetPictureLink()" />
            </div>
        </a>
    }
</div>
<img id="loading" class="center-block" src="~/Content/loading.gif"/>
<script>
    $(this).on('scroll', scrolling);
    var page = 2;
    function scrolling() {
        if ($(this).scrollTop() >= ($('#results').height() - $(this).height() - 100)){
            $(this).unbind('scroll');
            $.ajax({
                beforeSend: function () {
                    $('#loading').css('display', 'block');
                },
                url: '/Home/TopArtists',
                data: {
                    page: page
                },
                success: function (data) {
                    $('#loading').css('display', 'none');
                    $('#results').append(data);
                    $(window).on('scroll', scrolling);
                    page++;
                }
            });
        }
    }
</script>
