@model List<Track>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Listeners</th>
            <th>Scrobbles</th>
        </tr>
    </thead>
    <tbody id="results">
        @Html.Partial("PartialTracksInRow", Model)
    </tbody>
</table>
