@using Cataloguer.Models
@model List<Artist>

@foreach (Artist artist in Model)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <p class="text-center">
                @Html.ActionLink(artist.Name, "ArtistProfile", "Home", new { name = artist.Name }, new { })
            </p>
        </div>
        <div class="panel-body">
            <img class="center-block" src="@artist.GetPictureLink()" />
        </div>
    </div>
}
