@model Album
@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <img width="100%" class="img-thumbnail" src="@Model.PictureLink" />
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
        <h1 class="text-center">@Model.Name</h1>
        <h4>Artist : @Html.ActionLink(Model.Artist.Name, "ArtistProfile", "Local",
            new { name = Model.Artist.Name }, new { })</h4>
    </div>
</div>
@if (Model.Tracks.Count == 0)
{
    <h4 class="text-center">There are no tracks in this album</h4>
}
else
{
    @Html.Partial("PartialTableWithTracks", Model.Tracks)
}
