@model List<Artist>
@{
    ViewBag.Title = "My artists";
}

<h1 class="text-center">My artists</h1>
<div class="flex-container">
    @foreach (Artist artist in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <p class="text-center">
                    @Html.ActionLink(artist.Name, "ArtistProfile", "Local",
                        new { name = artist.Name }, new { })
                </p>
            </div>
            <div class="panel-body">
                <img class="center-block" src="@artist.PictureLink" />
            </div>
            <div class="panel-footer">
                <p class="text-center">
                    @Html.ActionLink(artist.Name + " on Last.fm", "ArtistProfile", "Home",
                        new { name = artist.Name }, new { })
                </p>
            </div>
        </div>
    }
</div>